<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!-- This Template Was Designed By Wayne D. Fields Contact: deonya22@yahoo.com -->
<html>
<head>
<title>Links</title>
<meta name="description" content="links">
<meta name="keywords" content="links">
<style type="text/css">
<!--
a:link, a:active, a:visited {
color: #4A265A; 
text-decoration: underline}

a:hover {
color: #4A265A; 
text-decoration: none}

body {
background-image: URL(lm_images/sky_bg.gif);
background-repeat: repeat-x}
  
-->
</style>
</head>
<body bgcolor="#ffffff" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">

<table border="0" cellpadding="0" cellspacing="0">
<tr>

<td><img src="lm_images/sky_your_logo.gif" width="215" height="105"></td>
<td><img src="lm_images/sky_mod_temp1_02.gif" width="265" height="105"></td>
<td><img src="lm_images/sky_mod_temp1_03.gif" width="300" height="105"></td>

</tr>
<tr>
<td colspan="3" background="lm_images/sky_bg_pg.gif" valign="top">

<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="10">&nbsp;</td>
<td valign="top">

<!-- Side Panel -->
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="170" height="55">&nbsp;</td>
</tr>

<tr>
<td><a href="#"><img src="lm_images/sky_link_1.gif" width="170" height="30" border="0" alt="link_1"></a></td>
</tr>

<tr>
<td><a href="#"><img src="lm_images/sky_link_2.gif" width="170" height="30" border="0" alt="link_2"></a></td>
</tr>

<tr>
<td><a href="#"><img src="lm_images/sky_link_3.gif" width="170" height="30" border="0" alt="link_3"></a></td>
</tr>

<tr>
<td><a href="#"><img src="lm_images/sky_link_4.gif" width="170" height="30" border="0" alt="link_4"></a></td>
</tr>

<tr>
<td><a href="#"><img src="lm_images/sky_link_5.gif" width="170" height="30" border="0" alt="link_5"></a></td>
</tr>

<tr>
<td><a href="#"><img src="lm_images/sky_link_6.gif" width="170" height="30" border="0" alt="link_6"></a></td>
</tr>

<tr>
<td width="170" height="214" valign="top">

<br>

</td>
</tr>
</table>
<!-- Side Panel -->

</td>
<td width="40">&nbsp;</td>

<td align="center" valign="top">

<!-- Content --><br><br>
<img src="lm_images/sky_hr_top.gif" width="528" height="58" border="0">
<br>
#CONTENT#<br>
<br>
<img src="lm_images/sky_hr_bot.gif" width="528" height="44" border="0">
</td>
</tr>
</table>


</td>
</tr>
</table>

</body>
</html>

