#tab_regular_text{font-family: Arial, Verdana; font-size: 12px; color: #111111;}
#tab_bold_text{font-family: Arial, Verdana; font-size: 11px; color: #111111;font-weight:bold;}
#tab_red_text{font-family: Arial, Verdana; font-size: 11px; color: red;font-weight:bold;}
#tab_gray_text{font-family: Arial, Verdana; font-size: 12px; color:Gray}
h2 {font-family: Arial, Verdana; font-size: 14px; COLOR: #F79A30;font-weight:bold;}
