.result_name{
font:Arial;
font-weight: bold;
font-family: Arial, Verdana; font-size: 12px;
 color:#33592F; 

height:25px;
padding: 0px 0px 0px 10px}

.license_info{
font-family: Arial, Verdana; font-size: 10px;
}

.regular_result_text{
font-family: Arial, Verdana; font-size: 10px;
}

